html {
  padding: 0 !important;
}
.ant-btn:focus,
.ant-btn:active {
  outline: none;
  box-shadow: none;
}
.ant-card-meta-title {
  margin: 0 !important;
}
.ant-card-meta-description {
  line-height: 10px;
}

.tags {
  padding: 0px;
  position: sticky !important;
  position: -webkit-sticky !important;
  top: 80px;
}

@media (max-width: 992px) {
  .tags {
    position: static !important;
  }
}
